@model Client.Models.tblEmp

@{
    ViewData["Title"] = "UpdateSalary";
}

<h1>UpdateSalary</h1>

@if (ViewBag.error != null)
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">@ViewBag.error</h4>
    </div>
}
@if (ViewBag.success != null)
{
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">@ViewBag.success</h4>
    </div>
}

<p>
    <a asp-action="MenuEmp" class="btn btn-primary">Menu</a>
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateSalary">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpID" class="control-label"></label>
                <input asp-for="EmpID" class="form-control" />
                <span asp-validation-for="EmpID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

